<div class="textbox">
  <img *ngIf="icon" class="textbox__icon" src="graphics/{{icon}}.svg" alt="{{icon}}">

  <div class="textbox__wrapper">
    <!-- Multiline input -->
    <textarea
      *ngIf="isTextarea; else lineInp"
      [formControl]="control"
      class="textbox__input"
      placeholder=" "
      [email]="type === 'email'"
    ></textarea>

    <!-- Single line input -->
    <ng-template #lineInp>
      <input
        [formControl]="control"
        class="textbox__input"
        type="{{type}}"
        placeholder=" "
        [email]="type === 'email'"
      >
    </ng-template>

    <!-- Custom placeholder -->
    <p class="textbox__placeholder">{{placeholder || 'Placeholder'}}</p>

    <!-- Clear cross button -->
    <img (click)="clear()" class="textbox__clear" src="graphics/cross.svg" alt="cross">
  </div>
</div>

<div class="errors">
  <!-- Validation errors passed externally -->
  <ng-content></ng-content>

  <!-- Default validation errors -->
  <p
    *ngIf="(control.touched || control.dirty) && control.errors?.['required']"
  >Feld ist erforderlich!</p>

  <p
    *ngIf="(control.touched || control.dirty) && control.errors?.['email']"
  >Ungültige E-Mail</p>
</div>